/* Layout helpers */
.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.inline-grid {
  display: inline-grid;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.content-start {
  align-content: flex-start;
}

.content-center {
  align-content: center;
}

.content-end {
  align-content: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

/* Flex direction helpers */
.row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.column-reverse {
  flex-direction: column-reverse;
}

/* Self alignment helpers */
.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: center;
}

.self-end {
  align-self: flex-end;
}

.self-stretch {
  align-self: stretch;
}

.gap-0 {
  gap: 0;
}

@for $i from 1 through 8 {
  .gap-#{$i} {
    gap: #{$i * 4}px;
  }
}

/* Combined flex helpers */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.flex-center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-start-center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.flex-end-center {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* Width/height helpers */
.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

@for $i from 0 through 20 {
  .w-#{$i * 5} {
    width: $i * 5%;
  }

  .h-#{$i * 5} {
    height: $i * 5%;
  }
}

@for $i from 1 through 40 {
  .wpx-#{$i * 4} {
    width: $i * 4px;
  }

  .hpx-#{$i * 4} {
    height: $i * 4px;
  }
}

/* Border helpers */
.border {
  border: 1px solid var(--sqx-color-border);
}

.border-0 {
  border: 0;
}

.border-1 {
  border-width: 1px;
  border-style: solid;
  border-color: var(--sqx-color-border);
}

.border-2 {
  border-width: 2px;
  border-style: solid;
  border-color: var(--sqx-color-border);
}

.border-4 {
  border-width: 4px;
  border-style: solid;
  border-color: var(--sqx-color-border);
}

.border-primary {
  border-color: var(--sqx-color-primary);
}

.border-danger {
  border-color: var(--sqx-color-danger);
}

.border-muted {
  border-color: var(--sqx-color-muted);
}

.border-solid {
  border-style: solid;
}

.border-dashed {
  border-style: dashed;
}

.border-dotted {
  border-style: dotted;
}

/* Radius helpers */
.rounded-0 {
  border-radius: 0;
}

.rounded-sm {
  border-radius: 4px;
}

.rounded-md {
  border-radius: var(--sqx-radius-md);
}

.rounded-lg {
  border-radius: 12px;
}

.rounded-full {
  border-radius: 9999px;
}

/* Grid helpers */
.place-center {
  place-items: center;
}

.place-start {
  place-items: start;
}

.place-end {
  place-items: end;
}

.place-stretch {
  place-items: stretch;
}

.place-between {
  place-items: space-between;
}

.place-around {
  place-items: space-around;
}

.place-evenly {
  place-items: space-evenly;
}

.place-content-center {
  place-content: center;
}

.place-content-start {
  place-content: start;
}

.place-content-end {
  place-content: end;
}

.place-content-between {
  place-content: space-between;
}

.place-content-around {
  place-content: space-around;
}

.place-content-evenly {
  place-content: space-evenly;
}
